{% extends "base.html" %}
{% block content %}
 <div class="hero-unit">
        <div class="container">
            <h1>Trackathon</h1>
            <p class="lead">Learn more about your fellow hackers, and find out which ones are the best!</p>
            <p>Dont have an account?<p>
            <p><a href="Register.html" class="btn btn-success btn-large">Create Profile</a></p>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>Log in.</h4>
                            <p>Hello there fellow hackers!</p>
                            <a href="Login.html" class="btn btn-primary"><i class="icon-user user-white"></i>Login</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                </div>
            </div>
	</div>
{% endblock %}
