.profile {
	padding-right: 40px;
}

.profile .profile-picture {
	padding: 5px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	width: 222px;
	height: 222px;
	border: 1px solid #ddd;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile h1 {
	font-size: 26px;
	letter-spacing: -1px;
	color: #495961;
	margin-top: 6px;
	margin-bottom: 0;
}

.profile .details {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 25px 0 25px 0;
	padding: 18px 0 15px 0;
	-webkit-font-smoothing: antialiased;
}

.profile .details .icons {
	padding-right: 5px;
	color: #d0d0d0;
    -webkit-transition: color .75s;
    -moz-transition:    color .75s;
    -ms-transition:     color .75s;
    -o-transition:      color .75s;
    transition:         color .75s;
}

.profile .details .icons:hover {
	color: #495961;
}

.profile .details .row-icon {
	padding-left: 15px;
	padding-top: 10px;
}

.profile .details .user-attribute {
	color: #d0d0d0;
}

.hackathon-list {

}

.hackathon-list a {
	text-decoration: none
}

.hackathon-list .hackathon-list-item {
	padding: 20px 20px 20px 20px;
}


.hackathon-list .hackathon-title {
	float: right;
	margin-top: 3px;
}

.hackathon-list .hackathon-project {
	font-size: 30px;
	float: left;
	margin-top: 5px;
}

.row-project-title, .row-project-description {
	margin-left: 0px;
	margin-right: 0px;
}

.hackathon-list .hackathon-project-description {

}

#ranking-table table {
	border-spacing: 2px;
	border: 1px solid #e5e5e5;
}

#ranking-table table td {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

#ranking-table thead tr {
	background-color: #fafafa;
}

#rankings {
	max-width: 750px;
}

/*#ranking-table {
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}*/

/*.profile .details .icons {

}*/