.profile {
	padding-right: 40px;
}

.profile .profile-picture {
	padding: 5px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	width: 222px;
	height: 222px;
	border: 1px solid #ddd;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile h1 {
	font-size: 26px;
	letter-spacing: -1px;
	color: #495961;
	margin-top: 6px;
	margin-bottom: 0;
}

.profile .details {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 25px 0 25px 0;
	padding: 18px 0 15px 0;
	-webkit-font-smoothing: antialiased;
}

.profile .details .icons {
	padding-right: 5px;
	color: #d0d0d0;
    -webkit-transition: color .75s;
    -moz-transition:    color .75s;
    -ms-transition:     color .75s;
    -o-transition:      color .75s;
    transition:         color .75s;
}

.profile .details .icons:hover {
	color: #495961;
}

.profile .details .row-icon {
	padding-left: 15px;
	padding-top: 10px;
}

.profile .details .user-attribute {
	color: #d0d0d0;
}

/*.profile .details .icons {

}*/